<%= form_with(model: job, local: true, html: {class: 'job-form'}) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :job_title, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :job_location, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :job_type %>
    <%= form.select :job_type, ['Permanent', 'Contract'], {prompt: 'Select job type'}, id: :job_type, class: 'input' %>
  </div>

  <div class="field">
    <%= form.check_box :remote, id: :job_remote, class: 'input' %>
    <%= form.label :remote, style: "float:left;" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: 'job-submit-btn'%>
  </div>
<% end %>

<% if job.new_record? %>
  <script type="text/javascript">
    $(function() {
      var email, amount;

      email = '<%= @stripe_data.email %>';
      amount = <%= @stripe_data.amount %>;

      StripeButton('<%= Rails.configuration.stripe[:publishable_key]  %>', {email: email, amount: amount});
    });
  </script>
<% end %>
